header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(160, 15, 20, .3);
    box-shadow: var(--shadow);
    margin: 20px auto 40px auto;

}

header ul, header li{
    list-style: none;
}

header a{
    font-size: 1.3rem;
    color: #fff; 
}

nav li {
    display: inline-block;
    width: 100px;
    margin: auto 20px;
    background-color: rgba(160, 15, 20, .7);
    text-align: center;
    border-radius: 15px;
}

.poke-icon{
    height: 135px;
    width: 135px;
    
}

.nav{
    display: inline-block;
    width: 125px;
}

img{
    width: 200px;
}